h1{
    padding-left: 480px;
}

#onLight{
    margin-top: 20px;
}

#offLight{
    margin-top: 30px;
}

#onFan{
    margin-top: 20px;
}

#offfan{
    margin-top: 30px;
}

.button-container form,
.button-container form div{
    display: inline;
}

.button-container button{
    display: inline;
    vertical-align: middle;
}

.button-container{
    margin-left: 430px;
}

label{
    width: 200px;
    float: left;
    margin: 0 20px 0 0;
}

span{
    display: block;
    margin: 0 0 3px;
    font-size: 1.2em;
    font-weight: bold;
}

input{
    width: 200px;
    border: 1px solid;
    padding: 5px;
}
